body
{
  /*background-color: #2D452F;*/
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:stretch;
  font-family: sans-serif;
  text-shadow:-2px 2px 2px black;
  font-size: 2vh;
  font-weight:500;

}

p,output,#trophyLabel,#audioLabel{

  color:silver;

  margin-left:20px;
}

#card,#deck,#playerClosed,#dealerClosed,.hit,.dealer,.player,#deckPrev0,#deckPrev1
{
  height :21vh;
  width:15vh;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: -5px 5px 10px black;
}
.dealer,.player
{  margin-left: 1vh;}

.dealer:nth-child(1),.player:nth-child(1){  margin-left: 1vh;}
#deck{margin-right: 30px;}

#playerClosed,#dealerClosed{
  margin-left: -5vh;
  margin-top: 1vh;
}
#settings
{
  height:6vh;
  width:6vh;
  cursor:pointer;
}
#hit,#stand,#bet,#continew,#yes,#done,#saveSettings,#loadSettings,#infoAboutDone
{height:6vh;
  width:12vh;
  background-color: darkred;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: -5px 5px 10px black;
  font-size: 2vh;
  font-weight: bold;
  color:gold;
  text-shadow:-2px 2px 2px black;
  margin-left :1vh;
  margin-top: 1vh;
}
#bet
{
  margin-left :3vh;
}

#hit:hover,#stand:hover,#bet:hover,#continew:hover,#yes:hover,#done:hover{background-color: #591515;}

#set0,#set1,#deckPreviewDiv
{
  display: flex;
  align-items:stretch;
  height:28vh;
  justify-content: flex-start;

}
#set2
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  }

#buttonDiv,#setButtons2
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#setButtons
{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#counts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#playerCount,#dealerCount,#result1,#total,#result2,#placedBet,#form0
{
  font-size: 2vh;

  color:silver;

  text-shadow:-2px 2px 2px black;}

#result1,#total
{
  text-align: center;
}

form
{
display: flex;
flex-direction: column;
justify-content: space-between;
}

input[type=range] {
  height: 2px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 4px #000000;
  background: #91A9A4;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: -1px 1px 2px #000000;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: #72B07F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #91A9A4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: -1px 1px 4px #000000;
  background: #91A9A4;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: -1px 1px 2px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: #72B07F;
  cursor: pointer;
  box-shadow: -1px 1px 4px #000000;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: red;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #91A9A4;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: -1px 1px 4px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #91A9A4;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: -1px 1px 4px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: -1px 1px 2px #000000;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #72B07F;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #91A9A4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #91A9A4;
}
#end
{
  padding-left: 10%;
  font-size: 10vh;
  font-weight: bolder;
  color:silver;

  text-shadow: -5px 5px 8px black;
}
#settings:hover
{
  border: 1px solid gold;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: -5px 5px 10px black;
}

#deckCol0,#deckCol1,#deckCol2,#deckCol3,#deckCol4,#deckCol5,#deckCol6,#deckCol7,#deckSet0,#deckSet1,#deckSet2,#deckSet3,#deckSet4,#deckSet5,#deckSet6,#deckSet7
{
  height: 7vh;
  width: 5vh;
  cursor:pointer;
  border: 3px solid darkgreen;
  border-radius: 5px;
}

#prefBackDiv,#colorForm,#boolPrompt,#bossKeys,#deckSetDiv,#deckColor,#inSumDiv,#currencyDiv
{
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top,margin-bottom: 1vw;
}


#colorPick
{
  height:6vh;
  width:6vh;
  margin-left:3vh;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: -5px 5px 5px #333;
}

#bossHide
{
height: 3vh;
width: 3vh;
font-size: 2vh;
font-weight: bold;
background-color: #2D452F;
color:silver;
margin-left: 3vh;
margin-right: 3vh;
justify-content: center;
padding-left: 1vh;
border: 1px solid #A18D24;
border-radius: 5px;
box-shadow: -5px 5px 5px #333;
}




.framed,.framedS
{
padding-top:3px;
padding-right:3px;
padding-left:3px;
border: 3px solid gold;
border-radius: 5px;

}

#prompt
{
  display:flex;
  flex-direction: row;
  justify-content: center;}


#tilt
{ transform: rotate(20deg);
  height :21vh;
  width:15vh;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: -5px 5px 10px black;
  margin-left: -5vh;
  margin-top: 6vh;
}

.inactive,.prefInactive,.bossInactive
{
  display:none;
}
/*  checkbox styling*/

/* Hiding the initial checkbox */
input[type=checkbox] {
  visibility: hidden;
}
/* Creating a custom checkbox based on demand */
.vchkbox {
  position: absolute;

  height: 20px;
  width: 20px;

  border: 1px solid #A18D24;
  border-radius: 5px;

}
/* Specify the background color to be shown when hovering over checkbox */
.p:hover input ~ .vchkbox {
  border: 1px solid silver;
}
/* Specify the background color to be shown when checkbox is active */
.p input:active ~ .vchkbox {
  border: 1px solid silver;
}
/* Specify the background color to be shown when checkbox is checked */
.p input:checked ~ .vchkbox {


}
/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.vchkbox:after {
  content: "";
  position: absolute;
  display: none;
}
/* Display checkmark when checked */
.p input:checked ~ .vchkbox:after {
  display: block;
}
/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and
showing only two border to make it look
like a tickmark */
.p :after {
  left: 6px;
  bottom: 4px;
  width: 5px;
  height: 10px;
  border: solid silver;

  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#inSumInp,#currencyFormat,#currencySelect
{
  height: 4vh;
  width: 12vh;
  min-height: 20px;
  min-width: 80px;
  font-size: 2vh;
  background-color: #2D452F;
  color:silver;
  margin-left: 3vh;
  justify-content: center;
  padding-left: 1vh;
  border: 1px solid #A18D24;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #333;
}
#infoAboutDone{margin-bottom:2vh;}

#prefButton,#infoButton,#aboutButton
{

  margin: 0.5vh;
  height: 4vh;
  width: 4vh;
  cursor:pointer;
  box-shadow: -5px 5px 5px #333;
  border: 1px solid #A18D24;
  border-radius: 5px;
}
#prefButton:hover, #infoButton:hover, #aboutButton:hover
{
animation: tooba 0.9s linear ;
}
@keyframes tooba
{
0% {transform: rotate(90deg);}
80%		{	transform: rotate(400deg);}
100%	{	transform: rotate(360deg);}
}
.tooltip
{
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  bottom:100%;
  left:50%;
  margin-left: -40px;
  background-color: #222;
  color: silver;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  font-size:1.5vh;
}

.tooltip:hover .tooltiptext { visibility: visible;}
a
{color:yellow;}
